.buttonStyle {
    color: white;

}

.background {
    text-align     : center;
    background-size: cover;
    --background   : url("https://i.pinimg.com/474x/48/91/5d/48915d92f84d9a1bd35242d4342e6f3d.jpg ");
}