.background {
    text-align      : center;
    background-size : cover;
    background-image: none;
    --background    : url("https://i.pinimg.com/474x/8d/33/9d/8d339dc05ead707439d47fcea481e670.jpg");
}
#mapa {
    width           : 100%;
    height          : 100%;
    background-color: burlywood;
}
body {
    width : 100%;
    height: 100%;
    margin: 0;
}